<div class="button-group">
  <button mat-raised-button
          color="primary"
          (click)="onNewClick()">
    <mat-icon>add</mat-icon> New
  </button>
  <button mat-raised-button
          color="accent"
          (click)="onExportClick()">
    <mat-icon>file_download</mat-icon> Export
  </button>
</div>

<div class="search-group">
  <mat-form-field appearance="outline">
    <input matInput placeholder="Enter shared key">
    <button matSuffix
            mat-button
            aria-label="Clear"
            (click)="clearSearch()">
      Search
    </button>
  </mat-form-field>
  <button mat-raised-button
          color="primary"
          (click)="onAdvancedSearchClick()">Búsqueda Avanzada</button>
</div>

<h2 class="title">Clientes</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="key">
    <th mat-header-cell *matHeaderCellDef> Key </th>
    <td mat-cell *matCellDef="let element"> {{element.key}} </td>
  </ng-container>

  <ng-container matColumnDef="id">  

    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>  


  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>  
      E-mail </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>  
      Teléfono </th>
    <td mat-cell *matCellDef="let  
 element"> {{element.phone}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>  


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
